*{
  background-color: black;
  color: white;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
}
.login_form {
  display: flex;
  flex-direction: column;
}
.login_form> h1 {
  font-style: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}
.login_form >input {
  min-width: 380px;
  padding: 22px 0px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba (0,0,0,0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}
.submit_btn{
  padding: 17px 17px;
  margin-top: 10px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.username{
  color: #7974ff;
}

.logout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.logout_btn{
  padding: 17px 95px;
  margin-top: 10px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;

}